.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.header .right-links {
    display: flex;
    gap: 4px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-section {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
}