body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.header .right-links {
    display: flex;
    gap: 4px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-section {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding: 90px;
}

button {
    background-color: #3882F6;
    width: 80px;
    height: 30px;
}

.first-section .left-section {
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: auto;
}